/* Basic styling */
body {
  font-family: Arial, sans-serif;
}

/* Navbar styling */
#primary-navbar {
  display: flex;
  background-color: #DDD;
  padding: 0.25em;
}

.secondary-navbar {
  display: flex;
  background-color: #EEE;
  padding: 0.25em;
  flex-wrap: wrap
}

:is(#primary-navbar, .secondary-navbar) a {
  color: black;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

:is(#primary-navbar, .secondary-navbar) a.active {
  color: blue;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.remove {
  display: none;
}

/* iframe styling */
.content-frame {
  width: 100%;
  height: 80vh;
  /* Adjust the height as needed */
  border: none;
  margin-top: 1em;
}