.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }

  50% {
    left: 200px;
  }

  100% {
    left: 0;
  }
}